<section class="faq">
    {% for faq in site.faqs %}
    <input tabindex="0" id="accordion{{ forloop.index }}" type="checkbox" />
    <label for="accordion{{ forloop.index }}">
        <a id="{{ forloop.index }}"></a>
            {{ forloop.index }}. {{ faq.title }}
    </label>
    <div class="faq-content">{{ faq.content | markdownify }}</div>
    {% endfor %}
</section>
