  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
  <link rel="apple-touch-icon" href="/assets/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-icon-152x152.png"/>
  <link rel="image_src" href="/assets/ms-icon-310x310.png"/>
  <link rel="manifest" href="/assets/manifest.json"/>
