<footer class="site-footer h-card">
    <data class="u-url" value="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <ul class="contact-list">
                    <li class="feed-subscribe">
                        <a title="read faqs" href="{{ 'faqs.xml' | relative_url }}">
                            <svg class="svg-icon red">
                                <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
                            </svg>
                        </a>
                    </li>
                    {% if site.author.name -%}
                    <li class="p-name"><img style="vertical-align:-2px" height="16" width="16" src="/assets/aidan-the-panda.svg" alt="panda face" /> 2024.</li>
                    {% endif -%}
                    {% if site.author.email -%}
                    <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
                    {%- endif %}
                </ul>
            </div>
            <div class="footer-col">
                <span id="slogan">{{ site.description | escape }}</span>
                <div class="social-links">
                    {%- include social.html -%}
                </div>
            </div>
        </div>
        <p><small>
            Except where otherwise noted, Living Source is licensed under the <a rel="noopener" target="_blank"
            href="http://livinglicense.com">Living License</a></small></p>
        <p><small>Living Source is not a law firm and does not offer legal advice.</small></p>
    </div>
</footer>
