<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ site.url }}">
    	<span id="logo">
    		<img alt="panda face" src="{{ url }}/assets/aidan-the-panda.svg" height="32px" width="32px" />
        </span>
    {%- if titles_size > 0 -%}
      <nav class="site-nav">
		<div style="font-size:smaller" class="trigger"><a target=_blank" class="page-link"
		href="http://livinglicense.com">Living License</a></div>
      </nav>
    {%- endif -%}
  </div>
</header>
