<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="H1mq2xwjTtF9SZOonz-FjVyUS1IZP4wAMBWSOsTwhPU" />
  {%- seo -%}
  <link type="text/css" rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}
  {%- include custom-head.html -%}
</head>
