// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
#logo {
filter: sepia(50%) opacity(0.75);
}
main.page-content {
  padding: 0;
  background-color: $sol-green;
  background-image: url("/assets/background.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
}
table, tbody, tr, td {
  font-size: 0.98em;
  padding: 0 6px;
}
.footnotes
 {
  font-size: 0.88em;
  line-height: 1.1;
  }
.page-heading, .post-title {
  padding: 40px 0 20px 0;
  margin-bottom: 15px;
  line-height: 1.5;
  letter-spacing: -1px;
  border-style: solid;
  border-color: $sol-base3;
  border-width: 0 0 1px 0;
  font-size: 2rem;
  font-weight:bold;
}
main.page-content > article > .wrapper {
  margin-top: calc($spacing-unit / 2);
  margin-bottom: calc($spacing-unit / 2);
  border-width: 1px solid $sol-green;
  border-radius: $spacing-unit;
  background-color: $sol-base3;
  background-image: url("/assets/gray_construction_paper_seamless.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
  box-shadow: 0 1rem 3rem #013220 !important;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  box-sizing: border-box;
}
.site-header, .site-nav, .site-header > .wrapper, .trigger > .page-link {
  color: $sol-base3;
  background-color: $text-color;
  border: 0;
}
.site-footer, .site-footer > .wrapper, .footer-col-wrapper, .social-links {
  color: $sol-base3;
  background-color: $text-color;
  border-top: 0;
}
.footer-col {
  margin-bottom: 0;
}
#slogan {
  font-style: italic;
}
code {
  overflow-x: auto;
}
table {
  color: $brand-color;
  background-color: $sol-base2;
}
section.faq {
  position: relative;
  margin: 1.4rem 0!important;
  padding-bottom: 0;
}
section.faq > input[type="checkbox"] {
  display: none;
}
section.faq > label {
  display: block;
  font-weight: bold;
  cursor: pointer;
  padding: 0.75rem 2.4rem 0.75rem 0;
  margin: 0;
}
section.faq > div.faq-content {
  display: none;
  padding-bottom: 1.2rem;
}
section.faq > input:checked + label + div.faq-content {
  display: block;
}
section.faq > label::before {
  content: "+";
  font-size: 130%;
  line-height: 1.1rem;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  transition: all 0.15s ease-in-out;
}
section.faq > input:checked + label::before {
  transform: rotate(-45deg);
}
.red { color: $sol-red; }
