// Define defaults for each variable.

$base-font-family: "Red Hat Display", sans-serif;
$code-font-family: Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
$base-font-size:   19px !default;
$base-font-weight: 500 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$table-text-align: left !default;
$table-zebra-color: #c7b899;

// Width of the content area
$content-width:    800px !default;

$on-medium:        800px !default;
$on-large:         1366px !default;

// Use media queries like this:
// @include media-query($on-mobile) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: #{$ratio}rem;
}

// Import pre-styling-overrides hook and style-partials.
@import
  "minima/custom-variables", // Hook to override predefined variables.
  "minima/base",             // Defines element resets.
  "minima/layout",           // Defines structure and style based on CSS selectors.
  "minima/custom-styles"     // Hook to override existing styles.
;
