<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <article>
        <div class="wrapper">
          {%- if page.title -%}
          <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}
          {{ content }}
        </div>
      </article>
    </main>
    {%- include footer.html -%}
  </body>
</html>
